.forum-details {
  padding: 40px 0 30px;

  &__forum {
    width: 60%;
    margin: 20px auto 60px;
    padding: 16px 16px 45px;
    border-radius: 20px;
    background-color: rgba(10, 15, 25, 0.8);
    overflow-wrap: anywhere;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-user {
      grid-column: 3 / 4;
      justify-self: end;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: #007bff;
        scale: 1.05;
      }
    }

    &-date {
      text-align: right;
    }
  }

  &__title {
    margin-top: 20px;
    word-break: break-all;
    overflow-wrap: anywhere;
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    font-weight: bold;
  }

  &__description {
    font-size: 16px;
  }

  &__image {
    margin: 30px auto 0;
    width: 100%;
    max-width: 1600px;
    height: 600px;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 15, 25, 0.8);

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: scale-down;
      border-radius: 12px;
      display: block;
    }
  }

  .forum-details__close-btn {
    height: 35px;
    width: 200px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: linear-gradient(120deg, #ff6b6b 0%, #ff3d3d 53%, #a10000 100%);
  }

  &__comments {
    width: 70%;
    margin: 0 auto 60px;
    padding: 16px;
    border-radius: 20px;
    background-color: rgba(10, 15, 25, 0.8);
    overflow-wrap: anywhere;

    .forum-details__respond-btn {
      margin: 0 auto 30px;
      width: 60%;
      max-width: 1000px;
    }

    .forum-details__comment {
      padding: 16px;
      margin-bottom: 20px;
      border-radius: 20px;
      border: 1px solid #ccc;
      box-shadow:
        -6px 0 10px rgba(0, 0, 0, 0.3),
        0 6px 10px rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
      display: flex;
      flex-direction: column;

      &.helpful {
        border: 2px solid forestgreen;
      }

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
      }

      &-user-block {
        display: flex;
        gap: 15px;
      }

      &-user {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          color: #007bff;
        }
      }

      &-status {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        height: 17px;
        user-select: none;
        cursor: pointer;

        &.helpful {
          img {
            width: 17px;
            height: 17px;
            transform: scaleX(-1) rotate(180deg);
            filter: brightness(0) invert(1);
          }
        }

        &.unhelpful {
          img {
            width: 17px;
            height: 17px;
            filter: brightness(0) invert(1);
          }
        }
      }

      &-delete {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        height: 17px;
        user-select: none;
        cursor: pointer;

        img {
          width: 17px;
          height: 17px;
          filter: brightness(0) invert(1);
        }
      }

      &-date {
        font-size: 12px;
      }

      &-text {
        font-size: 16px;
        line-height: 1.5;
      }

      &-reply-btn {
        font-size: 16px;
        align-self: flex-end;
        margin-left: auto;
        margin-top: -10px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      &-helpful-response {
        font-size: 14px;
        text-align: right;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 10px;
        color: yellow;

        img {
          margin-bottom: 3px;
          width: 22px;
          height: 22px;
        }
      }

      &-replies {
        margin-top: 16px;
      }
    }
  }
}
