.sorted-ideas {
  .sorted-ideas__header {
    margin: 40px auto 0;
    display: flex;
    width: 100%;

    #title {
      font-size: 24px;
      text-align: center;
      flex: 1;
    }

    > div {
      position: absolute;
      margin-right: 50px;
      right: 0;
      align-self: center;
    }
  }

  .sorted-ideas__ideas-list {
    padding: 0 50px;
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    list-style: none;
  }

  .sorted-ideas__see-more-btn {
    width: 100%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sorted-forums {
  .sorted-forums__header {
    margin: 40px auto 0;
    display: flex;
    width: 100%;

    #title {
      font-size: 24px;
      text-align: center;
      flex: 1;
    }

    > div {
      position: absolute;
      margin-right: 50px;
      right: 0;
      align-self: center;
    }
  }

  .sorted-forums__forums-list {
    padding: 0 50px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    list-style: none;
    align-items: center;

    > * {
      width: 80%;
    }
  }
}
