.section-profile {
  margin-top: 30px;
  width: 100%;

  &__banned-title {
    text-align: center;
    color: red;
    font-size: 24px;
    font-weight: 700;
  }
}

.public-profile-form {
  height: 200px;
  margin: 20px auto 0;
  width: 40%;
  display: flex;
  align-items: center;
  padding: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(10, 15, 25, 0.8);

  #left-part {
    margin-top: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;

    #username {
      font-size: 24px;
    }
  }

  #right-part {
    width: 70%;
    display: flex;
    gap: 100px;

    #user-rating {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
    }
  }
}

.private-profile-section {
  margin-top: 50px;

  #top-buttons {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 0 auto;

    .top-buttons-title {
      width: 33.3%;
      text-align: center;
      font-size: 22px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s all;

      &.current {
        color: #6562ef;
        font-weight: bold;
      }

      &:hover {
        color: #6562ef;
      }
    }
  }

  .account-own-ideas-form {
    margin: 0 auto 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    backdrop-filter: blur(10px);
    background-color: rgba(10, 15, 25, 0.8);

    #header {
      margin: 30px auto;
    }

    #ideas {
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      gap: 35px;
    }
  }

  .account-settings-form {
    margin: 0 auto 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    backdrop-filter: blur(10px);
    background-color: rgba(10, 15, 25, 0.8);

    &__image-import {
      display: flex;
      justify-content: center;
      backdrop-filter: blur(10px);
      background-color: rgba(10, 15, 25, 0.8);
      border-radius: 50%;
    }

    &__image-preview {
      width: 150px;
      height: 150px;
      overflow: hidden;
      backdrop-filter: blur(10px);
      background-color: rgba(10, 15, 25, 0.8);

      &-image {
        border-radius: 50%;
        overflow: hidden;
      }
    }

    #element {
      margin: 0 auto;
      padding: 0;

      p {
        min-width: 300px;
        text-align: center;
        font-size: 16px;
      }

      .account-settings-input {
        font-size: 16px;
        height: 24px;
      }
    }

    .update-account-settings-btn {
      font-size: 16px;
      height: 40px;
    }
  }

  .account-admin-settings {
    margin: 0 auto;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;

    .admin-button {
      border: 2px solid white;
      padding: 0 20px;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      backdrop-filter: blur(10px);
      background-color: rgba(10, 15, 25, 0.8);
      align-items: center;
      gap: 10px;
      user-select: none;
      cursor: pointer;
      width: 200px;
      max-width: 35%;
      transition: 0.2s;
      position: relative;

      p {
        font-size: 16px;
      }

      img {
        width: 22px;
        height: 22px;
        filter: brightness(0) invert(1);
      }

      &:hover {
        scale: 1.05;
      }
    }
  }
}

.admin-button__dropdown-menu {
  position: absolute;
  background-color: rgba(10, 15, 25, 0.95);
  user-select: none;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 10px;
  z-index: 9999;
  overflow: hidden;
  display: block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

  &--item {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    backdrop-filter: blur(10px);
    font-size: 16px;
    transform-origin: top;
    transition: all 0.2s ease;

    &.selected {
      background-color: rgba(255, 255, 255, 0.1);
      font-weight: bold;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
      transform: scale(1.05);
      //box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
    }
  }
}