@use "pages/authPage";
@use "pages/profilePage";
@use "pages/homePage";
@use "pages/aboutUsPage";
@use "pages/ideaDetailsPage";
@use "pages/startIdeaPage";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Noto Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  --base-color: #1F1CC7;
  --sub-color: #6562EF;
  --dark-color-0: #090A0B;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-color-0);
  min-height: 100vh;
  color: var(--white-color);
  font-size: 14px;
  letter-spacing: .035em;
  position: relative;

  #root {
    min-height: 100vh;
    position: relative;
  }
}

.error-text {
  color: red;
 }

.in-out-form-container {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition:
          opacity 0.3s ease,
          height 0.3s ease,
          visibility 0.3s ease;

  &.visible {
    visibility: visible;
    opacity: 1;
    height: auto;
  }

  .private-profile-form {
    margin: 0 auto;
  }
}